.card {
  max-width: 340px;
  padding: 2.8rem;
  display: grid;
  gap: 1.6rem;
  border-radius: 0.6rem;

  h2.user-title-comment {
    font-size: 2.2rem;
    font-weight: 500;
  }

  p.user-comment {
    font-size: 1.4rem;
    opacity: 70%;
  }
}

div.daniel {
  background-color: var(--moderate-violet);
}

div.jonathan {
  background-color: var(--very-dark-grayish-blue);
}

div.jeanette {
  background-color: var(--white);
}

div.patrick {
  background-color: var(--very-dark-blackish-blue);
}

div.kira {
  background-color: var(--white);
}

div.jeanette,
div.kira {
  color: var(--very-dark-grayish-blue);

}

@media screen and (min-width: 1280px) {
  .card {
    max-width: 100%;
  }
}