.card {
  max-width: 340px;
  padding: 2.8rem;
  display: grid;
  gap: 1.6rem;
  border-radius: 0.6rem;

  h2.user-title-comment {
    font-size: 2.2rem;
    font-weight: 500;
  }

  p.user-comment {
    font-size: 1.4rem;
    opacity: 70%;
  }
}

div.daniel {
  background-color: var(--moderate-violet);

  img {
    border: 3px solid hsl(263, 33%, 64%);
  }
}

div.jonathan {
  background-color: var(--very-dark-grayish-blue);
}

div.jeanette {
  background-color: var(--white);
}

div.patrick {
  background-color: var(--very-dark-blackish-blue);

  img {
    border: 3px solid var(--moderate-violet);
  }
}

div.kira {
  background-color: var(--white);
}

div.jeanette,
div.kira {
  color: var(--very-dark-grayish-blue);

}

@media screen and (min-width: 1280px) {
  .card {
    max-width: 100%;
    padding: 2.8rem 3.4rem;
    
    h2.user-title-comment {
      font-size: 2.2rem;
    }
  
    p.user-comment {
      font-size: 1.4rem;
    }
  }
}