main.container {
  width: 100%;
  height: 100%;
  padding: 2.4rem 4rem;
  justify-content: center;
  display: grid;
  gap: 2.4rem 3rem;
}

@media screen and (min-width: 1280px) {
  main.container {
    max-width: 1440px;
    grid-template-columns: 25rem 30rem 28rem 25rem;
    grid-template-areas: 
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira"
    ;
  }

  div.daniel {
    grid-area: daniel;
  }

  div.jonathan {
    grid-area: jonathan;
  }

  div.jeanette {
    grid-area: jeanette;
  }
  
  div.patrick {
    grid-area: patrick;
  }
  
  div.kira {
    grid-area: kira;
  }
}