div.user-identification {
  width: 100%;
  max-height: 72.3px;
  display: grid;
  grid-template-columns: 56px 1fr;
  align-items: center;
  gap: 1.6rem;

  img {
    border-radius: 50%;
  }

  div.user-verification {
    display: grid;
    gap: .4rem;

    span {
      display: block;
    }
  
    span.user-name {
      font-size: 1.6rem;
      font-weight: 500;
    }

    span.verified-graduate-text {
      font-size: 1.2rem;
      opacity: 50%;
    }
  }
}
